[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==3.0.3"
flask-cors = "==4.0.1"
opencv-python = "*"
ultralytics = "*"
pymongo = "*"
dnspython = "*"
python-dotenv = "*"
tomli = "*"
numpy = "*"

[dev-packages]
pylint = "*"
black = "*"
pytest = "*"
pytest-mock = "*"

[requires]
python_version = "3.11"
